*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    text-decoration: none;
}

html{
    scroll-behavior:smooth;
    animation:opacity 3s;
    }

    a:link{color:rgb(0, 0, 0);text-decoration:none; font-family: Arial, Helvetica, sans-serif;}
a:visited{color:rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;}
a:hover{text-decoration:underline none;color:#6F86FF}
a:active{}
    
    @Keyframes opacity{
        from{ opacity: 0%;}
        to{opacity: 100%;}
        }


        /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{

    body{
        background-color: #dddfea;
    }
        .option
        {
            width: 40vw;
            heght: 10vh;
            bacground-color: aqua;
            margin: auto;
            margin-top: 30px;
            justify-content:space-between;
            display:flex;
        flex-wrap:warp;
        content:space-between;
        }

        .option .option2{
            with: 20vw;
            border-radius: 30px;
            border: 5px solid #6F86FF;
            color: #6F86FF;
            background-color: #ffffff;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 30px;
            padding-right: 30px;
            cursor: pointer;
            transition: 0.2s;
        }

        .option2:hover{
            background-color: #6F86FF;
            color: #ffffff;
        }

        .html
        {
           with: 20vw;
            border-radius: 30px;
            border: 5px solid #6F86FF;
            color: #ffffff;
            background-color: #6F86FF;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 30px;
            padding-right: 30px;
            cursor: pointer;
            transition: 0.2s; 
        }

        .work{
            width: 60vw;
            heght: 10vh;
            bacground-color: aqua;
            margin: auto;
            margin-top: 70px;
            justify-content:space-between;
            display:flex;
        flex-wrap:warp;
        content:space-between;
        }

        .work .work2{
            border-radius: 30px;
            border: 5px solid #6F86FF;
            color: #ffffff;
            background-color: #6F86FF;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 30px;
            padding-right: 30px;
            cursor: pointer;
        }

        .work3{
            width: 55vw;
            heght: 10vh;
            bacground-color: aqua;
            margin: auto;
            margin-top: 20px;
            justify-content:space-between;
            display:flex;
        flex-wrap:warp;
        content:space-between;
        }

        .work3 .work2{
            border-radius: 30px;
            border: 5px solid #6F86FF;
            color: #ffffff;
            background-color: #6F86FF;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 30px;
            padding-right: 30px;
            cursor: pointer;
        }

        .work4
        {
            width: 10vw;
            heght: 10vh;
            bacground-color: aqua;
            margin: auto;
            margin-top: 40px;
            justify-content:space-between;
            display:flex;
        flex-wrap:warp;
        content:space-between;
        }

        .work4 .work2{
            border-radius: 30px;
            border: 5px solid #6F86FF;
            color: #ffffff;
            background-color: #6F86FF;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 30px;
            padding-right: 30px;
            cursor: pointer;
        }

    }

    /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 

{
    body{
        background-color: #dddfea;
    }


    .option
        {
            width: 98vw;
            heght: 10vh;
            bacground-color: aqua;
            magin: auto;
            margin-top: 30px;
            margin-left: 5px;
            justify-content:space-between;
            display:flex;
        flex-wrap:warp;
        content:space-between;
        }

        .option .option2{
            with: 20vw;
            border-radius: 30px;
            border: 5px solid #6F86FF;
            color: #6F86FF;
            background-color: #ffffff;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            font-size: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 35px;
            padding-right: 35px;
            cursor: pointer;
            transition: 0.2s;
        }

        .option2:hover{
            background-color: #6F86FF;
            color: #ffffff;
        }

        .html
        {
           with: 20vw;
            border-radius: 30px;
            border: 5px solid #6F86FF;
            color: #ffffff;
            background-color: #6F86FF;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            font-size: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 35px;
            padding-right: 35px;
            cursor: pointer;
            transition: 0.2s; 
        }

        .work{
            width: 95vw;
            heght: 10vh;
            bacground-color: aqua;
            margin: auto;
            margin-top: 70px;
            justify-content:space-between;
            
        flex-wrap:warp;
        content:space-between;
        }

        .work .work2{
            border-radius: 30px;
            border: 5px solid #6F86FF;
            color: #ffffff;
            background-color: #6F86FF;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 5px;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 30px;
            padding-right: 30px;
            cursor: pointer;
        }

        .work3{
            width: 95vw;
            heght: 10vh;
            bacground-color: aqua;
            margin: auto;
            margin-top: 20px;
            justify-content:space-between;
            display:flex;
        flex-wrap:warp;
        content:space-between;
        }

        .work3 .work2{
            border-radius: 30px;
            border: 5px solid #6F86FF;
            color: #ffffff;
            background-color: #6F86FF;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 30px;
            padding-right: 30px;
            cursor: pointer;
        }

        .work4
        {
            width: 10vw;
            heght: 10vh;
            bacground-color: aqua;
            margin: auto;
            margin-top: 40px;
            justify-content:space-between;
            display:flex;
        flex-wrap:warp;
        content:space-between;
        }

        .work4 .work2{
            border-radius: 30px;
            border: 5px solid #6F86FF;
            color: #ffffff;
            background-color: #6F86FF;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 30px;
            padding-right: 30px;
            cursor: pointer;
        }

}